.cookiies {
  text-align: center;
  padding: 4% 2%;
  width: 100%;
}

.cookiies h2 {
  font-size: 3em;
  padding: 3% 0;
  font-weight: 700;
}

.cookiies h3 {
  font-size: 1.5em;
  padding: 3% 0;
  font-weight: 600;
}

.cookiies p {
  font-size: 1.2em;
  padding: 0.2em 5%;
  text-align: justify;
}

.a1 {
  font-size: 1em;
}

/* Media query para ajustes específicos en pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .cookiies {
    padding: 8% 4%;
  }

  .cookiies h2,
  .cookiies h3,
  .cookiies p {
    padding: 2% 0;
  }

  .cookiies p {
    padding: 0.2em 8%;
  }
  .cookiies p .a1{
    font-size: 0.61em;
    width: 10%;

  }

}
@media screen and (max-width: 308px) {
  .a1{
    font-size: 0.51em;
    width: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 -10px;
  }
}
