.termi{
  text-align: center;
  padding: 20px 20px;
  width: 100%;
}
.termi h1{
  font-size: 3em;
  padding: 12px 0 12px 0;
}
.termi p {
  font-size: 1.3em;
  text-align: justify;
  padding: 10px 10em;
}
.termi h2 , strong{
  padding: 20px 0;
}

.termi h3 , h4{
  padding: 20px 0;
}
.termi a{
  padding: 10px;
}
.termi ul li{
  padding: 4px;
}

@media  (max-width: 600px) {
  /* Ajusta el tamaño del párrafo y el padding para pantallas más grandes */
  .termi p {
    font-size: 1.5em;
    padding: 10px 20px;
  }
}

.termi h2,
.termi strong,
.termi h3,
.termi h4 {
  padding: 20px 0;
}

.termi a {
  padding: 10px;
}

.termi ul li {
  padding: 4px;
}